<div id="<%= dom_id question %>">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">質問</h4>
    </div>
    <div class="card-body">
      <h1 class="h3 card-title pricing-card-title ">
        <%= question.title %></h1>
        <div class="list-unstyled mt-3 mb-4">
            <p><%= question.description %></p>
        </div>
